/* src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Google+Sans:wght@400;500;700&display=swap');

/* Global Reset */
body {
  @apply bg-primary min-h-screen;
  @apply font-sans;
  margin: 0;
  padding: 0;
  font-family: 'Google Sans', sans-serif;

}

/* Smooth Scrolling */
html {
  scroll-behavior: smooth;
}

/* Remove default focus outline (optional) */
:focus {
  outline: none;
  box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.8); /* Custom focus style */
}

.hide-scrollbar {
  scrollbar-width: none; /* For Firefox */
  -ms-overflow-style: none; /* For Internet Explorer and Edge */
}

.hide-scrollbar::-webkit-scrollbar {
  display: none; /* For Chrome, Safari, and Opera */
}